[submodule "thirdparty/luau"]
	path = thirdparty/luau
	url = https://github.com/luau-lang/luau.git
[submodule "builds/thirdparty/luau"]
	path = builds/thirdparty/luau
	url = https://github.com/luau-lang/luau.git
